.main {
  padding: 3rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.restrict-width {
  width: 25%;
}

a {
  color: #00B7FF;
}
