{% extends "layout.html" %}

{% block title %}
  Home
{% endblock %}

{% block main %}
<h1>Welcome to Stratton Oakmont!</h1>

<div class="content">
  <h2>To create a new project, click here.</h2>
  <a href="/new_project">Create a new Project</a>
</div>
<div class="content">
  <h2>The most international project owners</h2>

  <table class="table" id="project-table">
    <th><tr><td>Project Owners</td></tr></th>
    <tbody>
    {% if data != None %} 
      {% for d in data %}
        <tr>
          <td>{{ d[0] }}</td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>

  <h2>Gurus that follow each other</h2>

  <table class="table" id="project-table">
    <th><tr><td>Guru Buddies</td></tr></th>
    <tbody>
    {% if data2 != None %} 
      {% for d in data2 %}
        <tr>
          <td>{{ d[0] }}</td>
          <td>{{ d[1] }}</td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
