<!DOCTYPE html>
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Custom CSS -->
    <link href="../static/styles.css" rel="stylesheet" type="text/css">
    <!-- Custom JS -->
    <script src="../static/scripts.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>

    <!-- Top Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- brand link -->
      <a class="navbar-brand" href="/">Stratton Oakmont</a>

      <!-- navbar links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item active"><a class="nav-link" href="projects">Projects</a></li>
        {% if session.username %}
          <li class="nav-item active"><a class="nav-link" href="logout">Logout</a></li>
        {% else %}
          <li class="nav-item active"><a class="nav-link" href="login">Login</a></li>
          <li class="nav-item active"><a class="nav-link" href="signup">Sign Up</a></li>
        {% endif %}
      </ul>

      <span class="navbar-text">
        CS2102 AY1920/S1 Group 41: Crowdfunding
      </span>

      <!-- search bar -->
      <form class="form-inline my-2 my-lg-0" name="search-form" action="/search" method="POST">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Projects..." aria-label="Search" name="search-term">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="searchSubmission()">Search</button>
      </form>

    </nav>

    <!-- Page Content -->
    <main>
      {% if get_flashed_messages() %}
      <div class="alert alert-primary alert-dismissible fade show text-center message-flash" role="alert">
        {{ get_flashed_messages() | join(" ") }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}

      {% block main %}
      {% endblock %}
    </main>

  </body>
  {% block scripts %}{% endblock %}
</html>
