{% extends "layout.html" %}

{% block title %}
{{ data.project_name }}
{% endblock %}

{% block main %}
<h1>{{ data.project_name }}</h1>

<div class="content">
  <h2>Date Created</h2>
  <p>{{ data.creation_date }}</p>
  <h2>Date End</h2>
  <p>{{ data.expiration_date }}</p>
</div>
<br>
<div class="content">
  <h3>Product: {{ data.product_name }}</h3>
  <p>Product Price: <strong>${{ data.product_price }}</strong></p>
  <h3>Description of Product:</h3>
  <p>{{ data.product_desc }}</p>
</div>
{% endblock %}
