{% extends "layout.html" %}

{% block title %}
  Home
{% endblock %}

{% block main %}
  <table class="table" id="project-table">
    <th>
      <tr>
        <td>S/N</td>
        <td>Name</td>
        <td>Date Started</td>
        <td>Date to End</td>
        <td>Goal</td>
        <td>Current Funds</td>
        <td>Rating</td>
      </tr>
    </th>

    <tbody>
    {% if data != None %} 
      {% for d in data %}
        <tr>
        {% for v in d %}
          <td>{{ v }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>

  </table>
{% endblock %}

{% block scripts %}
<script>
addProjectTableRowListeners();
</script>
{% endblock %}
